<mat-tab-group mat-stretch-tabs="true" mat-align-tabs="center">
    <mat-tab label="MAP Shop" class="h-100">
        <div class="container pt-3">
            <div class="d-flex">
                <div class=" p-3">
                    <mat-form-field appearance="outline" class="p-3 w-25">
                        <mat-label>Select Shop</mat-label>
                        <mat-select id="shop" [(ngModel)]="ShopID">
                            <mat-option *ngFor="let item of ShopList" [value]="item.shopID">{{item.shopTitle}}</mat-option>
                        </mat-select>
        
                    </mat-form-field>
        
                    <!-- customer -->
                    <mat-form-field appearance="outline" class="p-3 w-25">
                        <mat-label>Select Cutomer</mat-label>
                        <mat-select id="party" [(ngModel)]="partyID">
                            <mat-option *ngFor="let item of customerList" [value]="item.partyID">{{item.partyName}}</mat-option>
                        </mat-select>
        
                    </mat-form-field>
        
                    <!-- start Date -->
                    <mat-form-field class="p-3 w-25" appearance="outline">
                        <mat-label>Select Start Date</mat-label>
                        <input readonly="true" matInput type="text" name="voucherDate" [(ngModel)]="startDate"
                            [matDatepicker]="date">
                        <mat-datepicker-toggle matSuffix [for]="date"></mat-datepicker-toggle>
                        <mat-datepicker #date></mat-datepicker>
                    </mat-form-field>
        
        
                    <mat-form-field appearance="outline" class="p-3 w-25">
                        <mat-label>Enter Rent Payment Date</mat-label>
                        <input matInput id="paymentDate" [(ngModel)]="paymentDate" min="1" max="31" type="number">
                    </mat-form-field>
        
        
        
                    <mat-form-field appearance="outline" class="p-3 w-25">
                        <mat-label>Select CAM Title</mat-label>
                        <mat-select id="cam" (selectionChange)="onCamIDChange()" [(ngModel)]="camID">
                            <mat-option *ngFor="let item of CAMList" [value]="item.camID">{{item.camTitle}}</mat-option>
                        </mat-select>
        
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="p-3 w-25">
                        <mat-label>CAM Charges</mat-label>
                        <input matInput id="camCharges" [(ngModel)]="camCharges" min="1" max="31" type="number">
                    </mat-form-field>
        
                    <mat-form-field appearance="outline" class="p-3 w-25">
                        <mat-label>Select Rent Title</mat-label>
                        <mat-select id="rent"  (selectionChange)="onRentIDChange()" [(ngModel)]="RentID">
                            <mat-option *ngFor="let item of RentList" [value]="item.rentID">{{item.rentTitle}}</mat-option>
                        </mat-select>
        
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="p-3 w-25">
                        <mat-label>Rent Charges</mat-label>
                        <input matInput id="rentCharges" [(ngModel)]="rentCharges" min="1" max="31" type="number">
                    </mat-form-field>
        
                </div>
        
            </div>
            <div class=" border-top p-3">
              <div>
                <mat-form-field appearance="outline" class="col-md-3 p-3">
                    <mat-label>Select Service Title</mat-label>
                    <mat-select id="service" [(ngModel)]="serviceID">
                        <mat-option *ngFor="let item of servicesList" [value]="item.serviceID">{{item.serviceTitle}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="outline" class="col-md-2">
                    <mat-label>Service Charges</mat-label>
                    <input matInput id="serviceCharges" [(ngModel)]="serviceCharges" min="1" type="number">
                </mat-form-field>
                <mat-form-field appearance="outline" class="p-3 w-25">
                    <mat-label>Service Type</mat-label>
                    <mat-select id="serviceType" [(ngModel)]="serviceType">
                        <mat-option [value]="'Temporary'">Temporary</mat-option>
                        <mat-option [value]="'Permanent'">Permanent</mat-option>
                    </mat-select>
                </mat-form-field>
        
                <mat-form-field class="p-3 w-25" appearance="outline">
                    <mat-label>Select Start Date</mat-label>
                    <input readonly="true" matInput type="text" name="voucherDate" [(ngModel)]="serviceMonth"
                        [matDatepicker]="servicemonth">
                    <mat-datepicker-toggle matSuffix [for]="servicemonth"></mat-datepicker-toggle>
                    <mat-datepicker #servicemonth></mat-datepicker>
                </mat-form-field>
        
                <span class="h6 text-success">
                    <button class="btn btn-primary" [ariaLabel]="'Save Service'" (click)="addService()"><mat-icon >save</mat-icon></button>
                </span>
              </div>
        
              <div>
                <table class="table table-hover">
                    <thead>
                       <tr> 
                        <th>S.NO</th>
                        <th>Service Title</th>
                        <th>Service Charges</th>
                        <th>Type</th>
                        <th>Date</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of ServicesData;index as index">
                            <td>{{index+1}}</td>
                            <td>{{item.ServiceID}}</td>
                            <td>{{item.ServiceCharges}}</td>
                            <td>{{item.ServiceType}}</td>
                            <td>{{item.TmpServiceMonth |date}}</td>
                            <td><mat-icon>delete</mat-icon></td>
                        </tr>
                    </tbody>
                </table>
              </div>
               
        
        
            </div>

            <div class="text-center ">
                <button class="btn btn-success me-2 w-25" (click)="saveMapShop()">Save</button>
                <button class="btn btn-danger w-25">Reset</button>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="Saved Record" class="h-100">



        <div class="container">

                <mat-form-field appearance="outline" class="w-100 pt-2">
                    <input type="text" matInput [(ngModel)]="txtSearch">
                    <mat-icon matPrefix>search</mat-icon>
                </mat-form-field>
            <table class="table table-hover text-center">
                <thead>
                   <tr>
                    <th>S.NO</th>
                    <th>Shop Title</th>
                    <th>Area</th>
                    <th>partyName</th>
                    <th>Payment Date</th>
                    <th>CAM</th>
                    <th>Rent</th>
                    <th colspan="2">Action</th>
                   </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of mappedShopData | filter:txtSearch;index as index">
                        <td>{{index+1}}</td>
                        <td>{{item.shopTitle}}</td>
                        <td>{{item.shopAreaSQ}}</td>
                        <td>{{item.partyName}}</td>
                        <td>{{item.rentPaymentDate}}</td>
                        <td>{{item.camCharges}}</td>
                        <td>{{item.rentCharges}}</td>
                        <td><mat-icon class="text-success">edit</mat-icon></td>
                        <td><mat-icon class="text-danger">delete</mat-icon></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </mat-tab>
</mat-tab-group>

