<mat-tab-group>
    <mat-tab label="Add User" class="h-100">
        <mat-progress-bar mode="query" *ngIf="progressbar == true"></mat-progress-bar>




<div class="d-flex container-fluid border-top mt-2  bg-light">


    <!-- Left Side of the page  -->
    <div class="col-lg-6 mt-2 border-end">
        <div class="border-bottom">
            <h2>User Credentials</h2>
        </div>
        <div class=" m-3">
            <div class="d-flex justify-content-around  col-lg-12 mt-1">


                <!-- <div class="form-outline col-md-5">
                    <input type="text" [(ngModel)]="uName" name="uName" id="form12" class="form-control" />
                    <label class="form-label" for="form12">User Name</label>
                  </div>
                  <div class="form-outline col-md-5">
                    <input type="text" [(ngModel)]="uEmail" name="UEmail" id="form13" class="form-control " />
                    <label class="form-label" for="form13">User Email</label>
                  </div> -->

                <mat-form-field class="col-md-5" appearance="outline">
                    <mat-label>User Name</mat-label>
                    <input [(ngModel)]="uName"  name="uName" matInput type="text">
                    <mat-icon matSuffix class="text-secondary">person</mat-icon>
                </mat-form-field>
                <mat-form-field class="col-md-5" appearance="outline">
                    <mat-label>User Email</mat-label>
                    <input [(ngModel)]="uEmail" name="UEmail" matInput type="text">
                    <mat-icon matSuffix class="text-secondary">email</mat-icon>
                </mat-form-field>
            </div>
            <div class="d-flex justify-content-around  col-lg-12 mt-1">
                <mat-form-field class="col-md-5" appearance="outline">
                    <mat-label>User Password</mat-label>
                    <input [(ngModel)]="uPassword" name="uPassword" matInput type="password">
                    <mat-icon matSuffix class="text-secondary">lock</mat-icon>
                </mat-form-field>
                <mat-form-field class="col-md-5" appearance="outline">
                    <mat-label>Confirm Password</mat-label>
                    <input [(ngModel)]="confirmPassword" matInput type="password">
                    <mat-icon matSuffix class="text-secondary">lock</mat-icon>
                </mat-form-field>

            </div>

        </div>

        <div class="d-flex justify-content-center">
            <Button class="btn btn-success m-2 w-25 h-25" (click)="addUser()"><mat-icon class="pt-1" >save</mat-icon>{{btntype}}</Button>
            <Button class="btn btn-danger m-2 w-25 h-25" (click)="reset()"><mat-icon class="pt-1" >cached</mat-icon>Reset</Button>
        </div>
    </div>


    <!-- Saved Record Side of the page  -->
    <div class="mt-2 col-lg-6 border-start">
        <div class="border-bottom ">
            <h2 style="margin-left:10px;">Saved Record </h2>
        </div>
       
        <mat-form-field class="col-md-11 m-3" appearance="outline">
            <mat-label>Search</mat-label>
            <input [(ngModel)]="txtSearch" matInput type="search" class="text-secondary">
            <mat-icon matPrefix class="text-secondary">search</mat-icon>
        </mat-form-field>
        <div class="m-3">
           
            <table class="table justify-content-center" >
                <thead class="">
                    <th>S#</th>
                    <th>User Name</th>
                    <th>User Email</th>
                    <th colSpan="2">Action</th>
                </thead>
                <tbody>
                    <tr *ngFor="let item of userData  |filter:txtSearch index as index">
                        <td>{{index+1}}</td>
                        <td>{{item.userName}}</td>
                        <td>{{item.userEmail}}</td>
                        <td><mat-icon class="text-success cursorPointer " (click)="getUserById(item)">edit</mat-icon>
                            <mat-icon class="text-danger cursorPointer" (click)="deleteUser(item.userID)">delete</mat-icon></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
    </mat-tab>
    <mat-tab label="User Roles" class="h-100"></mat-tab>
</mat-tab-group>