<div class="bg-white p-5">
    
    <div class="text-center p-5 bg-light  pt-5">
        <div class="text-start" ><button autofocus class="btn btn-primary" (click)="OpenDialogue()"><mat-icon class="pt-1">
            add</mat-icon>ADD Shop</button></div>
            <br>
        <table class="table table-hover h-100"> 
            <thead>
                <th>S#</th>
                <th>Shop Title</th>
                <th>Shop Code</th>
                <th>Area</th>
                <th>CAM Title</th>
                <th>Rent Title</th>
                <th>Edit</th>
                <th>Delete</th>
            </thead>
            <tbody >
                <tr >
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><mat-icon class="text-success cursorPointer" >edit</mat-icon></td>
                    <td><mat-icon class="text-danger cursorPointer" >delete</mat-icon></td>
                </tr>
            </tbody>
        </table>
    
    </div>

</div>
