/*mat-nav-list{
    background-color: aliceblue;
}*/
.navHeader {
    text-align: center;
    
}
.navHeader img {
    height: 80px;
}


.mat-divider {
   
    border-color: rgb(11, 11, 11);
    border: 1px dashed;
}

.list-item {
    color: #1c1d1d !important;
    font-size: 0.8rem;
    height: 44px !important;
    margin-bottom: 4px ;
    text-decoration: none;
    padding-top:6px;
    padding-left: 4px;
    
    border: 1px dotted;
    border-top:none;
    border-right:none ;
    border-left: none;
    
    

    
   
    /*
    &:hover {
        background-color: #000000 !important;
        border-radius: 4px;
        color: white !important;
        
    }

    */
}
.list-item :hover {
        background-color: #000000 !important;
        border-radius: 4px;
        color: rgb(0, 0, 0) !important;
        
    }
.list-item .sideicon {
    vertical-align: bottom;
    margin-right: 1rem;
}


.list-item-active {
    color: rgb(255, 255, 255) !important;
    background-color: rgb(17, 17, 42);
    /*
    ::ng-deep {

        &:hover {
            background: #242424 !important;
        }
    }*/
}