<div class="Dashboard">

    <div class=" container-fluid d-flex ">
        <div class=" col-lg-3 p-4" >
            <mat-card style="border-bottom: 3px solid green;">
                <div>
                    <span class="text-secondary ps-2 pt-5"> New Customer</span>
                </div>
                <div class="d-flex justify-content-between p-2">
                    <span class="">
                        <h1 class="mt-4"><mat-icon>person</mat-icon>50%</h1>
                    </span>
                    <span class="text-center" >
                        
                    </span>
                </div>

            </mat-card>
        </div>



        <div class=" col-lg-3 p-4" >
            <mat-card style="border-bottom: 3px solid rgb(244, 13, 13);">
                <div>
                    <span class="text-secondary ps-2 pt-5"> Total Expense</span>
                </div>
                <div class="d-flex justify-content-between p-2">
                    <span class="">
                        <h1 class="mt-4"><mat-icon>keyboard_arrow_down</mat-icon>70%</h1>
                    </span>
                    <span class="text-center" >
                        
                    </span>
                </div>

            </mat-card>
        </div>



        <div class=" col-lg-3 p-4" >
            <mat-card style="border-bottom: 3px solid green;">
                <div>
                    <span class="text-secondary ps-2 pt-5">  Total Earning</span>
                </div>
                <div class="d-flex justify-content-between p-2">
                    <span class="">
                        <h1 class="mt-4"><mat-icon>keyboard_arrow_up</mat-icon>80%</h1>
                    </span>
                    <span class="text-center" >
                        
                    </span>
                </div>

            </mat-card>
        </div>



        <div class=" col-lg-3 p-4" >
            <mat-card style="border-bottom: 3px solid rgb(74, 2, 255);">
                <div>
                    <span class="text-secondary ps-2 pt-5"> Business Value</span>
                </div>
                <div class="d-flex justify-content-between p-2">
                    <span class="">
                        <h1 class="mt-4"><mat-icon>add</mat-icon>10,230.00 </h1>
                    </span>
                    <span class="text-center" >
                        
                    </span>
                </div>

            </mat-card>
        </div>




           

    </div>




    <div class="w-100 p-5"> 
        <mat-card class=" mt-5 pt-5 w-25" style="float: right;">
            <div class="d-flex">
                <div class="progress blue">
                    <span class="progress-left">
                                      <span class="progress-bar"></span>
                    </span>
                    <span class="progress-right">
                                      <span class="progress-bar"></span>
                    </span>
                    <div class="progress-value">90%</div>
                  </div>
                  <div>
                    <h1>
                        Sales
                    </h1>
                  </div>
            </div>
        </mat-card>
    </div>



</div>