<div>

    <div class="row container-fluid justify-content-center  p-3 border-bottom">
                    

              
        <mat-form-field class="w-25">
            <mat-label>From Date</mat-label>
            <input matInput type="text" [(ngModel)]="fromDate" [matDatepicker]="startDate">
            <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
            <mat-datepicker #startDate></mat-datepicker>
        </mat-form-field>

    
        <mat-form-field class="w-25">
            <mat-label>To Date</mat-label>
            <input matInput type="text" [(ngModel)]="toDate" [matDatepicker]="EndDate">
            <mat-datepicker-toggle matSuffix [for]="EndDate"></mat-datepicker-toggle>
            <mat-datepicker #EndDate></mat-datepicker>
        </mat-form-field>


    <div class="w-25 text-end" >
        <button class="fw-bold btn btn-primary me-3" (click)="getUnApprovedBill()">
           Get UnApproved Bill
        </button>
        
    
        <button class="fw-bold btn btn-primary " (click)="getapproved()">
           Get Approved Bill
        </button>
    </div>
</div>

    
</div>
